body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Clases personalizadas para roles */
.role-cliente {
    background-color: #28a745;
}

.role-administrador {
    background-color: #dc3545;
}

.role-gerente {
    background-color: #007bff;
}

/* Para formulario de logout en navbar */
.nav-button {
    background: transparent;
    color: rgba(255, 255, 255, 0.55);
    border: none;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out;
    font-size: 16px;
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.75);
}
